[Desktop Entry]
Name=Cubic
Comment=Custom Ubuntu ISO Creator
Path=/usr/share/cubic
Exec=python3 /usr/share/cubic/cubic_wizard.py
Terminal=false
Type=Application
Icon=cubic
StartupNotify=true
Categories=Utility;Application;System;
StartupWMClass=cubic_wizard.py
